.home {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 20px 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  color:#f1f1f1;
}


.nav {
    background-color: #333;
    padding: 1em;
  }
  
  ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
     margin: 0; 
     padding: 0; 
  }
  
  ul li a {
    color: white;
   text-decoration: none;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }


