
.navbar{
gap:20rem;
background-color: rgb(209, 142, 168);
padding: 6px;
border-radius: 20px;
}
.home{
gap:20rem;
list-style-type: none;
margin: 0;
padding: 30px;
display: flex;

}
.nav li{
    gap: 20rem;
    margin: 0;
}
 .nav a{
    gap: 20rem;
    display: block;
    padding: 14px 20px;
 }